:root {
    --color-bg-main: #170f23;
    --color-bg-sidebar: #231b2e;
    --color-purple: #7200a1;
    --text-secondary: hsla(0, 0%, 100%, 0.5);
    --text-primary: #fff;
    --navigation-text: #dadada;
    --alpha-bg: hsla(0,0%,100%,0.1);
    --layout-bg: #170f23;
}

@keyframes animate {
    0% { 
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
